# Python virtual environments
venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# OS specific files
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
